.Pirvacy-Container{
    max-width: 1250px;
    margin: 110px auto;
    padding-left:4%;
    padding-right:4%;

}
.InfoPagesParagraph{

    color: white;
    margin:30px;
    margin-left: 10px;
    margin-top: 15px;
    line-height: 2.2rem;
}
.Pirvacy-Container h1{
    margin-bottom:50px;
}
.custom-header-subtitle-no-centner {
  font-size: 1.2rem;
  color: #65a0ff;
  font-weight: bold;
}
@media (max-width: 700px) {
/* .Pirvacy-Container{
    text-align: center;
 } */
 .Pirvacy-Container .custom-header-subtitle-no-centner{
    margin: 20px 0px;
}
}