.clippergoat-hero {
  display: flex;
  width:100%;
  margin-top: 150px;
  padding: 50px;
  justify-content: center;
  align-items: center; 
  background-size: cover;
  background-position: center;
  position: relative;
}
.Hero-Second-Section{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;

}
.clipper-hero-left{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.aurora {
  border-radius: 50%;
  position: absolute;
  left: 0;
  width: 50%;
  height: 30%;
  background: linear-gradient(120deg, rgba(0, 162, 255, 0.6) 20%, rgba(0, 255, 200, 0) 70%),
              linear-gradient(300deg, rgba(0, 86, 161, 0.633) 20%, rgba(255, 0, 200, 0) 70%);
  background-blend-mode: screen;
  animation: aurora-animation 10s infinite alternate;
  filter: blur(100px);
}
.Hero-Card{
  display: flex;
  justify-content: center;
}
.aurora1 {
  top: 0;
}

.aurora2 {
  top: 35%;
}

.aurora3 {
  top: 90%;
}

@keyframes aurora-animation {
  0% {
    transform: translateY(-20%) rotate(25deg) scaleX(2.5);
  }
  50% {
    transform: translateY(10%) rotate(25deg) scaleX(2.5);
  }
  100% {
    transform: translateY(-20%) rotate(25deg) scaleX(2.5);
  }
}

.clippergoat-hero * {
  z-index: 3;
}

.clippergoat-hero-title {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 20px;
}

/* video dont load 
buy creds clickable

*/
.hero-video-container2 {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.video-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.video-hero {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
}

.video-hero.loaded {
  filter: none;
}

.video-hero.blurred {
  filter: blur(10px);
}
.clippergoat-hero-subtitle {
  font-size: 19px;
  margin-bottom: 30px;
  width:85%;
  text-align: center;
}

.clipper-hero-right{
  display: flex;
  flex-direction: column;  

}
 
.clippergoat-hero-price{
  margin-bottom: 20px;;
  display: none;
}

@media screen and (max-width: 1000px) {
  .clippergoat-hero-subtitle{
    display: none;
  }.clippergoat-hero-price{
    display: block;
  font-size:48px;

  }
  .clipper-hero-left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clipper-hero-right{
    display: none;
  } 
  .clippergoat-hero {
    display: flex;
  }  
  .clippergoat-hero {
    text-align: center;
  }  .clippergoat-hero-subtitle {
    width:100%;
  }
}
@media screen and (max-width: 768px) {
  .clippergoat-hero-subtitle {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .clippergoat-hero {
    height: auto !important; 
  }
  .clippergoat-hero-title {
    font-size: 33px !important;
    margin-top:120px;
    line-height: 1.2;
    margin-bottom: 20px;
    height: auto !important;
  }
  .clippergoat-hero-price{
  font-size:32px;

  }
} 
@media screen and (max-width: 400px) {
  .clipper-hero-left{
    opacity: 0.9;
  }
  .clippergoat-hero-price{
    font-size:22px;
  
    }
.clippergoat-hero-title {
    font-size: 29px !important;
    margin-top:150px !important;
    line-height: 1.2;
    margin-bottom: 20px;
    height: auto !important;
  }
  .clippergoat-hero-subtitle {
    font-size: 15px;
    margin-bottom: 30px;
  }
}