.faq-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    color: white;
  }
  
  .faq-item {
    margin-bottom: 15px;
    transition: 0.6s;    
    border-radius: 11px;
   }
    
  .faq-item:hover {
    box-shadow: 0 0 65px rgba(20, 110, 255, 0.5);
    transform: scale(1.06);     margin: 25px;

  }
  @media screen and (max-width: 768px) {
    .faq-item:hover {
         margin: 20px auto;
    }
    .faq-item {
      margin-bottom: 15px;
      transition: 0.3s;    
      border-radius: 11px;
      font-size: 14px;
    }
      
  }
  @media screen and (max-width: 400px) {
    .faq-item {
      font-size: 10px;
    }
  }
  .faq-question {
    background-color: #16213e;
    padding: 21px;
    cursor: pointer;    font-size: larger;

    display: flex;
    justify-content: space-between;   box-shadow: 0 0 5px rgba(20, 110, 255, 0.5);

    align-items: center;
    border-radius: 11px;   border: 1px solid rgba(52, 130, 255, 0.3);

  }
  
  .faq-answer-wrapper {
    overflow: hidden;
    transition: height 0.3s ease-out;
  }
  
  .faq-answer {
    padding: 15px;
    background-color: #0f3460;
    border-radius: 0 0 5px 5px;
  }