.careers-page {
  position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;  height:100vh;

  }
  
  .careers-page::-webkit-scrollbar {
    display: none;
  }
  
  @media (max-width: 968px) {
    .careers-page {
    padding-top:1px;
    padding: 0px;
    flex-direction: column;
    }
  

  }  