.websitelogo {
  font-weight: bold;
  cursor: pointer;
  object-fit: cover;
  width:140px;
  margin: 0px !important;
  padding:0px !important;
}

@media screen and (max-width: 768px) {
  .websitelogo {
    width:120px;

}
}