.aurora {
  border-radius: 50%;
  position: absolute;
  left: 100px;
  width: 40%;
  height: 30%;
  background: linear-gradient(120deg, rgba(0, 162, 255, 0.6) 20%, rgba(0, 255, 200, 0) 70%),
              linear-gradient(300deg, rgba(0, 86, 161, 0.633) 20%, rgba(255, 0, 200, 0) 70%);
  background-blend-mode: screen;
  animation: aurora-animation 10s infinite alternate;
  filter: blur(100px);
}
 
.aurora1 {
  top: 0;
}

.aurora2 {
  top: 25%;
}

.aurora3 {
  top: 70%;
}
@keyframes aurora-animation {
  0% {
    transform: translateY(-20%) rotate(10deg) scaleX(1.7);
  }
  50% {
    transform: translateY(10%) rotate(10deg) scaleX(1.7);
  }
  100% {
    transform: translateY(-20%) rotate(10deg) scaleX(1.7);
  }
}
.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 90%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.hero-right {
  display: flex;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clippergoat-hero {
  background-size: cover;
  background-position: center;
}

.counter-container {
  width: 100%; 
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chlng-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #4291ec, #2c7ff4, #1376ff);
  padding-left: 25px !important;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 40px;
  border: 0px solid rgba(46, 126, 255, 0);
  box-shadow: 0 0 30px 10px rgba(20, 110, 255, 0.5);
  opacity: 0.9;
  padding: 15px 20px;
  font-size: 1.125rem;
  font-weight: 700;
  transition: 0.6s;  
}

.clipper-hero-left {
  display: flex;
  flex-direction: column;
}

.clippergoat-hero * {
  z-index: 3;
}

.clippergoat-hero-title {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
  width: 100%;
}

.hero-video-container2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; /* Add this line */
  overflow: hidden;
  position: relative;
  margin-top: 170px; 
  padding: 10% 0; /* Change this line */
  perspective: 1000px;
}

.video-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
  will-change: width;
  box-shadow: 0 0 70px 20px rgba(20, 110, 255, 0.5);
  transform: translateZ(50px); /* Add this line */
}
.video-hero.loaded {
  filter: none;
}

.video-hero.blurred {
  filter: blur(10px);
}

.clippergoat-hero-subtitle {
  font-size: 1rem;
  margin-bottom: 30px;
  width: 50%;
}

.clippergoat-hero-price {
  margin-bottom: 20px;
  display: none;
}
.break-div-2{
  display: none;
}
.large-screen-br{
  display: none;
}
.hero-card-phone{
  display: none;
}
@media screen and (min-width: 1900px) {
  .large-screen-br{
    display: block;
  }
  .clippergoat-hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    width: 50%;
  }

  .clippergoat-hero-title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 20px;
    width: 100%;
  }  
}

@media screen and (max-width: 1200px) {
  .hero-card-phone{
    display: flex;
    justify-content: center;
    max-width:90%;
    margin: 0 auto;
  }
  .hero-card-phone .counter-container{
  }
  .hero-right{
    display: none;
  }
  .break-div-2{
    display: block;
  }
  .hero-video-container2 {

    margin-top: 50px; 
  }
  
  .hero-wrapper {
    flex-direction: column;
    height: auto;
    justify-content: center !important;
    text-align: center;
    margin-top: 110px;
  }

  .clippergoat-hero-title {
    font-size: 3rem;
    width: 100%;
  }
  .clipper-hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clippergoat-hero-subtitle {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .clippergoat-hero-subtitle {
    display: none;
  }
  .clippergoat-hero-price {
    display: block;
    font-size: 3rem;
  }

  .clipper-hero-right {
    display: none;
  } 
  .clippergoat-hero {
    display: flex;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .clippergoat-hero-subtitle {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .clippergoat-hero {
    height: auto !important; 
  }
  .clippergoat-hero-title {
    font-size: 2.5rem !important;
    line-height: 1.2;
    margin-bottom: 20px;
    height: auto !important;
  }
  .clippergoat-hero-price {
    font-size: 2rem;
  }
  .chlng-btn {
    font-size: 1rem;
    padding: 12px 18px;
  }
}

@media screen and (max-width: 480px) {
  .hero-video-container2 {
    height:500px;
    padding:0px !important;
    margin-top: 0px; 
  }
  
  .clipper-hero-left {
    opacity: 0.9;
  }
  .clippergoat-hero-price {
    font-size: 1.2rem;
  }
  .clippergoat-hero-title {
    font-size: 1.5rem !important;
    line-height: 1.2;
    margin-bottom: 20px;
    height: auto !important;
  }
  .clippergoat-hero-subtitle {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  .chlng-btn {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}