/* PricingSection.css */

.pricing-section {
  text-align: center;
  padding: 20px;
}

.pricing-section__title {
  margin-bottom: 40px;
}

.pricing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 80px;
}

.pricing-card-container {  display: flex;
  align-items: center;
  border: 1px solid rgba(52, 130, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 410px;
}

.pricing-card {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 390px;
  height: auto;
  position: relative;
  background-image: linear-gradient(to top, rgba(20, 110, 255, 0.1), rgba(0, 98, 255, 0.01));
  background-color: rgba(20, 110, 255, 0.01);
  border: 1px solid rgba(52, 130, 255, 0.1);
  margin-bottom: 20px;
}

.pricing-card--popular {
  border: 2px solid rgba(52, 130, 255, 0.5);
}

.popular-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(29, 123, 255, 0.4);
  box-shadow: 0 0 10px rgb(29, 123, 255), 0 0 11px rgb(29, 123, 255);
  color: white;
  padding: 8px 16px;
  width: 200px;
  font-size: 18px;
  border-radius: 20px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
}

.popular-tag__icon {
  margin-bottom: -1px;
  color: rgb(199, 199, 199);
  font-size: 14px;
}

.pricing-card__header {
  margin-bottom: 10px;
  color: #ffc65c;
  font-size: 2.5em;
}

.pricing-card__price {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

.pricing-card__billed-monthly {
  font-size: 14px;
  color: rgb(188, 188, 188);
  margin-top: 10px;
  margin-bottom: 10px;
}

.pricing-card__description {
  font-size: 1em;
  color: rgb(200, 200, 200);
  margin-bottom: 20px;
}

/* .pricing-card__get-started-btn {
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 12px;
  border: 1px solid rgba(52, 130, 255, 0.5);
  cursor: pointer;
  margin: 20px 0;
  width: 90%;
  font-size: 16px;
  background-color: var(--main-color-lighter);
  box-shadow: 0 0 15px rgba(20, 110, 255, 0.5);
}

.pricing-card__get-started-btn:hover {
  box-shadow: 0 0 35px rgba(20, 110, 255, 0.5);
} */
.pricing-card__features-list,
.pricing-card__soon-to-come-list {
  list-style-type: none;
  padding: 20px;
  color: white;
  border: 1px solid rgba(52, 130, 255, 0.2);
  text-align: left;
  border-radius: 9px;
  font-size: 18px;
  margin-bottom: 20px;
}
.pricing-card--custom-highlight li {
  font-size: 22px;
}
.pricing-card--custom-highlight .pricing-card__description{
  font-size: 18px;

}
.pricing-card--custom-highlight .pricing-card__price{
  font-size: 2.8em;

}
.pricing-card__features-list li,
.pricing-card__soon-to-come-list li,
.pricing-card__soon-to-come-list div {
  margin-bottom: 10px;
}

.pricing-card__soon-to-come-container {
  display: flex;
  align-items: center;
}

.pricing-card__soon-to-come-container i {
  font-size: 16px;
}

.pricing-card__features-list li::before,
.pricing-card__soon-to-come-check {
  margin-right: 10px;
  color: rgb(20, 110, 255)
}

.pricing-card--custom-highlight {
  box-shadow: 0 0 25px rgba(20, 110, 255, 0.5), inset 0 0 65px rgba(20, 110, 255, 0.5);
}
.pricing-card__header{
  margin-top:10px;
}
.pricing-card--custom-highlight .pricing-card__header {
  font-size: 3.5em !important;
  margin-top: 60px;
}

.pricing-card--custom-highlight .pricing-card__get-started-btn {
  background-color: var(--main-color-lighter);
  box-shadow: 0 0 15px rgba(20, 110, 255, 0.5);
}
.pricing-card-container--with-normal {
  margin-bottom: -90px;
}
.pricing-card--custom-normal .StartClipping {
  background-color: transparent;
}
@media screen and (max-width: 1200px) {
  .pricing-container {
    gap: 20px;
  }

  .pricing-card-container {
    max-width: 350px;
  }

  .pricing-card {
    max-width: 330px;
  }
}

@media screen and (max-width: 992px) {
  .pricing-card-container--with-normal {
    margin-bottom: 0px;
  }
  .pricing-card--custom-normal{
    margin-bottom: 0px;;
  
  }
  .pricing-card--custom-highlight li {
    font-size: 18px;
  }
  .pricing-card--custom-highlight .pricing-card__header {
    margin-top: 70px;
    font-size: 3rem !important;
  }

  .pricing-card {
    padding: 0px 20px;
  }

  .pricing-container {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card-container {
    max-width: 400px;
  }

  .pricing-card {
    max-width: 380px;
  }
}

@media screen and (max-width: 576px) {
  .pricing-section__title {
    font-size: 2.5em !important;
  }

  .pricing-card-container {
    max-width: 100%;
  }

  .pricing-card {
    max-width: 100%;
  }

  .pricing-card__header {
    font-size: 2em;
  }

  .pricing-card__price {
    font-size: 2em;
  }

  .pricing-card__features-list,
  .pricing-card__soon-to-come-list {
    font-size: 14px;
  }

  .pricing-card__get-started-btn {
    padding: 12px 17px;
    width: 80%;
    font-size: 16px;
  }

  .popular-tag__icon {
    font-size: 14px;
  }

  .popular-tag {
    padding: 5px 12px;
    width: 170px;
    font-size: 12px;
  }
}@media screen and (max-width: 400px) {
  .pricing-card--custom-highlight .pricing-card__price{
    font-size: 2em;
  
  }
  .pricing-card--custom-highlight li {
    font-size: 14px;
  }
  .pricing-card--custom-highlight .pricing-card__description{
    font-size: 1em;
  
  }
  .pricing-card-container {
    max-width: 100%;
  }

  .pricing-card {
    max-width: 100%;
    padding: 10px;
  }

  .pricing-card__header {
    font-size: 1.8em;
  }

  .pricing-card__price {
    font-size: 1.8em;
  }

  .pricing-card__features-list,
  .pricing-card__soon-to-come-list {
    font-size: 12px;
    padding: 10px;
  }

  .pricing-card__get-started-btn {
    padding: 10px 15px;
    width: 80%;
    font-size: 14px;
  }

  .popular-tag__icon {
    font-size: 12px;
  }

  .popular-tag {
    padding: 4px 10px;
    width: 150px;
    font-size: 10px;
  }
  .pricing-card--custom-highlight .pricing-card__header {
    font-size: 2.5em !important;
    margin-top: 60px;
  }
}

.pricing-section-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}