.footer {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff !important;
  position: relative;
  padding: 4rem 1rem;
}
 .LogoFooter{
  width:170px;
 }
.footer-container {
  max-width: 90%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discordsvg{
  width:30px;
}
.footer-info {
  text-align: center;
}
 .footer-logo{
    margin-bottom: 20px;;
    margin-left:-10px;
 }

.footer-description {
  max-width: 28rem;
  line-height: 1.5;
}
.footer ul {
  margin-top:-17rem !important;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem !important;
  padding: 0;
  list-style-type: none;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease;
}

 

.footer-copyright {
  margin-top:4.5rem;
  text-align: center;
  font-size: 0.875rem;
}

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1rem;
  background-color: rgb(101, 160, 255);
  color: #ffffff;
  width: 45px;
  height: 45px;
  font-size: 14px;  border:0px;
  border-radius: 9999px;
  transition:  0.3s ease; 
}

.back-to-top:hover {
  background-color: rgb(19, 58, 120);  box-shadow: 0 0 15px rgba(20, 110, 255, 0.5);
  transform: scale(1.3);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.social-icons i {
  font-size: 24px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  padding:15px;
}
.social-icons-phone{
  display: none;
}
.social-icons a {

  color:rgb(101, 160, 255);
}
.social-icons a:hover {
  transform: scale(1.4);
  margin: 0 20px !important;
  color: #1467db;
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.5),
    0 0 20px rgba(59, 130, 246, 0.4),
    0 0 30px rgba(59, 130, 246, 0.3),
    0 0 40px rgba(59, 130, 246, 0.2);
}
.footer-contact-phone{
  display: none;
}
@media (max-width: 1100px) {
  .footer {

    padding: 0rem 1rem;
  }
.footer-copyright {
  margin-top:2rem 
}
.back-to-top-normal{
  display: none;
}
.social-icons-phone{
  display: flex;
}
.social-icons-normal{
  display: none;
}
.footer-contact-normal{
  display: none !important;
}
.footer-contact-phone{
  display: flex !important;
}
.footer ul {
  margin-top:1rem !important; 
}
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
    justify-content: center;
    margin-top:2rem !important;
    padding: 0;
    list-style-type: none;
  }
  
}
@media (min-width: 1100px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-info {
    text-align: left;
    margin-bottom: 0;
  }

  .footer-links {
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer-copyright {
    text-align: right;
  }

  .social-icons {
    justify-content: flex-start;
  }
}