.product-designer {
  position: relative;
  background: linear-gradient(to right, #182F40, rgb(4, 37, 61));
  margin-top: 35px;
  border-radius: 8px;
width:92%;
  z-index: 3;
  overflow-x: hidden;
  height:80vh;
  border: 1px solid #0077B6;
overflow-y: scroll;
  color: white;
}
.right-siderbar-containerrrrr{
  position: fixed;
  /* padding: 0 20px; */
  margin-right:10px;
  margin-left: 470px;  
}
.product-designer ul {
  list-style: none !important;
}

.product-designer ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.product-designer i {
  background-color: #1da1f2;
  margin-right: 7px;
  border-radius: 50%;
  font-size: 8px;
  width: 17px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}

.product-designer button {
  font-weight: bold;
}

.custom-rightside-header {
  padding-top: 10px;
  padding-right:20px;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #182F40, rgb(4, 37, 61));
  width: 100%;
  border-bottom: 1px solid #0077B6;
  z-index: 2; /* Ensure it stays on top of other content */
}


.custom-rightside-header p {
  color: rgb(200, 200, 200);
  font-size: 12px;
  margin-top: 6px;
}

.custom-rightside-header h1 {
  font-size: 24px;
  font-weight: bold;
}
 
.actions button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.job-overview{
  padding:20px;
}
.job-overview h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-overview p {
  margin-bottom: 20px;
}

.job-overview ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.about-twitter {
  margin-top: 20px;
  padding: 0 20px;

}

.about-twitter h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-twitter p {
  margin-bottom: 20px;
}

.about-twitter .follow {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 968px) {
  .apply-now{
    margin-top:20px !important;
  }
  .right-siderbar-containerrrrr{
position: relative;
    margin-left: 0;
    z-index: 124;
    margin-top:120px;
    margin-right:  auto;
    margin-left:  auto;

  }
  .product-designer {
    width: 91%;
    padding:0px;
    padding-top:0px;
    margin:0px;
    margin-left: auto;
    margin-right: auto;
  }

  .custom-rightside-header {
    padding-top:45px;
    flex-direction: column;
    align-items: flex-start;
  }


  .actions {
    align-self: flex-end;
  }

  .actions button {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {

  .custom-rightside-header h1 {
    font-size: 20px;
  }

  .custom-rightside-header p {
    font-size: 10px;
  }

  .job-overview h2,
  .about-twitter h2 {
    font-size: 16px;
  }

  .actions button {
    padding: 8px 16px;
  }

  .about-twitter .follow {
    padding: 8px 16px;
  }
}