* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;

}
body  {
  font-family: "system-ui";
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #111827;
  position: relative;
  min-height: 100%;
}

li {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

a:hover {
  color: var(--link-color);
}

:root {
  --border-color-lightmode: rgb(214, 214, 214);
  --main-color: #111827;
  --main-color-2: #1F2937;
  --main-color-lighter: #1467db;
  --main-color-lightest: #1d7bff;
}

.glow-text {
  text-shadow: 0 0 5px rgba(59, 130, 246, 0.5), 0 0 19px rgba(59, 130, 246, 0.4), 0 0 30px rgba(59, 130, 246, 0.3), 0 0 20px rgba(59, 130, 246, 0.2);
}

h1, h2 {
  font-weight: 1000 !important;
}

.Container {
  margin-left: auto;
  margin-right: auto;
}

.custom-header-title {
  font-size: 2.7rem !important;
  color: white !important;
  margin: 0;
}
@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px #3a78ff, 0 0 10px #3a78ff, 0 0 20px #3a78ff;
  }
  50% {
    text-shadow: 0 0 10px #3a78ff, 0 0 20px #3a78ff, 0 0 40px #3a78ff;
  }
}
.glow-text-test {
  animation: glow 1.5s infinite !important;
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0.2;
}
video::-webkit-media-controls {
  display: none !important;
}
.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-effect-links a:hover {
  font-size: 18px;
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.5), 0 0 20px rgba(59, 130, 246, 0.4), 0 0 30px rgba(59, 130, 246, 0.3), 0 0 40px rgba(59, 130, 246, 0.2);
  color: #1467db;
}
/* 
.custom-header-title span {
  color: #65a0ff;
} */
.custom-header-title span {
  color: #ffffff;
}

.custom-header-subtitle {
  font-size: 1.1rem;
  color: #ffffff !important;
  font-weight: bold;
  max-width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
}


.Container-Width {
  max-width: 1400px;
}

.Container-Spacing {
  margin-top: 50px !important;
}

.Container-Spacing-Lg {
  margin-top: 70px !important;
}
.Container-Spacing-Lg-desktop{
  margin-top: 70px !important;

}
.Container-Spacing-desktop{
  margin-top: 50px !important;

}
.box-custom-shadow {
  box-shadow: 0 0 15px rgba(20, 110, 255, 0.5)
  
}

.box-custom-shadow-smaller {
  box-shadow: 0 0 24px rgba(20, 110, 255, 0.296);
}

.break-div {
  display: none;
}
@media (max-width: 750px) {
  .Container-Spacing-Lg-desktop{
    margin-top: auto !important;
  
  }
  .Container-Spacing-desktop{
    margin-top: auto !important;
  
  }
    .break-div {
      display: block;
      line-height: 10px;
    }
  .Container-Spacing {
    margin-top: 40px;
  }
  .Container-Spacing-Lg {
    margin-top: 90px;
  }
  .custom-header-title {
    color: white !important;
    margin: 0;
    line-height:45px;
    font-size: 2.2rem !important;
    margin-bottom: 5px;
  }
  .custom-header-subtitle {
  max-width: 95%;
  margin-top:40px !important;
  }
}
@media (max-width: 400px) {
 
 

.custom-header-title {
  color: white !important;
  margin: 0;
  line-height: 29px;
  font-size: 2rem !important;
  margin-bottom: 5px;
}
.custom-header-subtitle {
max-width: 95%;
margin-top:40px !important;
}
.custom-header-subtitle {
  font-size: 1rem;
  color: #ffffff !important;
  font-weight: bold;
  max-width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
}

}


.box-custom-shadow {
  box-shadow: 0 0 55px rgba(59, 130, 246, 0.5);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 2;
}

.CustomLargeHeader {
  font-size: 45px;
  font-weight: 1000;
  color: white;
}

.CustomMediumHeader {
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.CustomSmallHeader {
  font-size: 15px;
  color: white;
  font-weight: 600;
  line-height: 1.5rem;
}
